/*
 Ctrl + f 
margin-button 
text-transform:;

kda remarque les champs repeter


.mg-b-10{}
ul {
    style-list:non;
}
.float-left {
    style-list:non;
}
.clear{}


-----------------------------
declarer color

:root{  = html

--maincolor :#0000 ;
--bg-gray
}
remarque  ----------- color repet 


var(--maincolor)

.bg-gray{}


n9ass mn lign f css hssan
9assam file kol file f css
usible ** update nice ..

n9assmo file css mn ba3d
webpack compesse mini file nhatohom f file 1

nice nice 
nice nice 
nice nice 



support expolar 8
*/